<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-4 d-none d-lg-block footer-col">
            <h4>Socials</h4>
            <p class="text-left">
                {% include social.html url="https://www.linkedin.com/in/heerkog" text="LinkedIn" icon-category="fa-brands" icon="fa-linkedin" %}<br/>
                {% include social.html url="https://bsky.app/profile/heerkog.bsky.social" text="Bluesky" icon-category="fa-brands" icon="fa-bluesky" %}<br/>
                {% include social.html url="https://www.x.com/heerkog" text="X" icon-category="fa-brands" icon="fa-x-twitter" %}<br/>
            </p>
        </div>
        <div class="col-4 d-none d-lg-block footer-col">
            <h4>Author ID's</h4>
            <p class="text-left">
                {% include social.html url="https://orcid.org/0000-0001-8081-6883" text="Orcid" icon-category="fa-brands" icon="fa-orcid" %}<br/>
                {% include social.html url="https://scholar.google.nl/citations?user=0-30X0sAAAAJ" text="Scholar" icon-category="fa-brands" icon="fa-google-scholar" %}<br/>
                {% include social.html url="https://www.scopus.com/authid/detail.uri?authorId=36662229800" text="Scopus" icon-category="fa-brands" icon="fa-etsy" %}<br/>
            </p>
        </div>
        <div class="col-4 d-none d-lg-block footer-col">
            <h4>Links</h4>
            <p class="text-left">
                {% include social.html url="https://www.rug.nl/staff/h.groefsema/" text="University of Groningen" icon-category="fa-solid" icon="fa-building-columns" %}<br/>
                {% include social.html url="https://github.com/Heerkog" text="GitHub" icon-category="fa-brands" icon="fa-github" %}<br/>
                {% include social.html url="https://gitlab.com/Heerkog" text="GitLab" icon-category="fa-brands" icon="fa-gitlab" %}<br/>
            </p>
        </div>
    </div>
</div>