
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/assets/img/Favicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            {{ site.title }}
        </a>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% if page.title == "Heerko Groefsema" %} active{% endif %}" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.title == "Publications" %} active{% endif %}" href="/publications.html">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.title == "Software" %} active{% endif %}" href="/software.html">Software</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.title == "Teaching" %} active{% endif %}" href="/teaching.html">Teaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.title == "Reviews" %} active{% endif %}" href="/reviews.html">Reviews</a>
                </li>
            </ul>
        </div>
    </div>
</nav>