<section id="{{ include.topic }}" class="sec sec-alt">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <i class="section-icon fa-solid {{ include.icon }}"></i>
                <h2>{{ include.topic }}</h2>
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{ include.text }}</p>
                {% if include.link %}
                <a href="{{ include.link }}" target="_blank" role="button" class="btn btn-secondary">
                    <span class="fa-brands fa-github"></span> Visit Project on GitHub
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>