.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  overflow-x: hidden;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.section-card {
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.green {
  background-color: #3e8e41;
}

.red {
  background-color: #D8374E;
}

.blue {
  background-color: #2e6da4;
}

.purple {
  background-color: #B166F4;
}

.orange {
  background-color: coral;
}

.yellow {
  background-color: gold;
}

.section-icon {
  font-size: 10rem;
  opacity: 1;
}

.section-card::after {
  content:"";
  position: absolute;
  inset: -.625em;
  border-radius: 25px;
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  filter: blur(10px);
  z-index: -1;
}