body {
  font-family: 'Nunito', sans-serif;
}

.sec {
  padding: 250px 0 100px 0;
}

body > .sec ~ .sec {
  padding: 100px 0 100px 0;
}

.sec-main {
  background: #eee;
  border-bottom: 1px groove #e8e8e8;
}

.sec-alt {
  background: #fff;
}

.footer-section {
  border-top: 1px groove #e8e8e8;
  padding-top: 50px;
  padding-bottom: 150px;
  background: #e5e5e5;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  overflow-x: hidden;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.title {
  padding-bottom: 50px;
  text-align: center;
}

.download-big {
  padding: 50px 0px;
}

.btn {
  margin: 3px;
  min-width: 210px;
}

.text-justify {
  text-align: justify
}

img {
  vertical-align: middle;
  border-style: none;
}

.rounded-border {
  border-radius: 25px;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
}

a {
  color: #3B3B3B;
  opacity: 1;
  transition: opacity 0.3s;
  transition-timing-function: ease-in-out;
}

a:hover {
  color: #3B3B3B;
  opacity: 0.8;
}