.sec-main div {
  scale: 1;
  opacity: 1;
  animation: scroll-fade-out linear forwards;
  animation-timeline: view();
  animation-range: exit 0%;
}

.sec-alt div {
  translate: 500px 0;
  scale: 0.8;
  opacity: 0;
  animation: scroll-fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes scroll-fade-in {
    to { translate: 0 0; opacity: 1; }
  }
  @keyframes scroll-fade-out {
    to { scale: 0.8; opacity: 0; }
  }
}
