.sec-main div {
  scale: 1;
  opacity: 1;
  animation: scroll-fade-out linear forwards;
  animation-timeline: view();
  animation-range: exit 250px;
}

.sec-alt div {
  scale: 0.8;
  opacity: 0;
  animation: scroll-fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry -350px;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes scroll-fade-in {
    to { scale: 1; opacity: 1; }
  }
  @keyframes scroll-fade-out {
    to { scale: 0.8; opacity: 0; }
  }
}
