.fa-socials {
    font-size: 32px;
    text-decoration: none;
    color: #3B3B3B;
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 0.3s, transform 0.3s;
    transition-timing-function: ease-in-out;
}

.fa-socials:hover {
    text-decoration: none;
    opacity: 1;
    transform: scale(1.1);
}

.social-link {
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: #3B3B3B;
    vertical-align: middle;
    transition: 0.3s;
}