---
---

{% assign id = key | replace: ":", "-" %}
{% assign ref = reference %}

{% if entry.doi and entry.doi != "" %}
    {% assign doi = '<a target="_blank" href="https://doi.org/' | append: entry.doi | append: '">' | append: entry.doi | append: '</a>' %}
    {% assign ref = ref | replace: entry.doi, doi %}
{% endif %}

{% if entry.url and entry.url != "" %}
    {% assign url = '<a target="_blank" href="' | append: entry.url | append: '">' | append: entry.url | append: '</a>' %}
    {% assign ref = ref | replace: entry.url, url %}
{% endif %}

{% if entry.pdf and entry.pdf != "" %}
    {% assign pdf = '<a target="_blank" href="' | append: entry.pdf | append: '">' | append: entry.pdf | append: '</a>' %}
    {% assign ref = ref | replace: entry.pdf, pdf %}
{% endif %}

{% if entry.title and entry.title != "" %}
    {% assign title = '<b>' | append: entry.title | append: '</b>' %}
    {% assign ref = ref | replace: entry.title, title %}
{% endif %}

{% assign i = "[" | append: index | append: "]" %}
{{ ref | replace: i, ""}}

    <a class="bibbtn collapsed" data-toggle="collapse" href="#bibentry{{ id }}" role="button" aria-expanded="false" aria-controls="bibentry{{ id }}"></a>

    <div id="bibentry{{ id }}" class="collapse">
        <div class="card">
            <div class="card-body">
            {% if entry.abstract %}
                <h3 class="card-title">Abstract</h3>
                <p class="card-text bibabstract">{{ entry.abstract }}</p>
                {% if entry.keywords %}
                <p class="card-text bibkeywords"><br/><b class="bibkeyword">Keywords: </b>{{ entry.keywords }}</p>
                {% endif %}
                <hr>
            {% endif %}
                <h3 class="card-title">BibTeX</h3>
                <textarea id="ta{{- index -}}" class="bibtex">{{ entry.bibtex }}</textarea>
                <hr>
            {% if entry.url %}
                <a class="card-link biblink" target="_blank" href="{{ entry.url }}">url</a>
            {% endif %}
            {% if entry.pdf %}
                <a class="card-link biblink" target="_blank" href="{{ entry.pdf }}">pdf</a>
            {% endif %}
            {% if entry.file %}
                <a class="card-link biblink" target="_blank" href="{{ entry.file }}">file</a>
            {% endif %}
            {% if entry.doi %}
                <a class="card-link biblink" target="_blank" href="https://doi.org/{{ entry.doi }}">doi</a>
            {% endif %}
            {% if entry.gsid %}
                <a class="card-link biblink" target="_blank" href="https://scholar.google.com/scholar?cites={{ entry.gsid }}">scholar</a>
            {% endif %}
            </div>
        </div>
    </div>
</span>